In [1]:
import pandas as pd

In [2]:
events = pd.read_csv('/data/projects/sec/drop3/data/2.postgresql/e69.csv')

In [3]:
print("Shape of data{}".format(events.shape))
events.head()

Shape of data(162357, 127)

,logdatetimetz,epoch,v,a,b,c,d,e,f,a_epochfirst,...,ae_count,ae_sum,af_doy_count,af_doy_sum,af_week_count,af_week_sum,af_month_count,af_month_sum,af_count,af_sum
0,2022-06-01 00:04:29-05,1654059869,portal-auth,rkrisko,CLTGGV6YT2FASX,104.61.152.212,Cookie,0,success,1654059869,...,1,76,1,1,1,4,1,20,1,76
1,2022-06-01 00:04:33-05,1654059873,portal-auth,cdotter,AST83QLQ13LEAD,104.59.206.32,Cookie,0,success,1654059873,...,1,65,1,1,1,3,1,15,1,65
2,2022-06-01 00:11:44-05,1654060304,portal-auth,rsingh,ASTHV27QQ2LINX,71.78.62.83,Cookie,17,failure,1654060304,...,1,30,1,1,1,2,1,13,1,30
3,2022-06-01 00:12:58-05,1654060378,portal-auth,jkolerich,AST54F54Y2INTR,199.10.253.170,Cookie,17,failure,1654060378,...,1,47,1,1,1,4,1,17,1,47
4,2022-06-01 00:13:31-05,1654060411,portal-auth,kng,SNGFQMM0X2FADM,42.61.31.230,Cookie,0,success,1654060411,...,1,57,1,1,1,5,1,11,1,57

In [4]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162357 entries, 0 to 162356
Columns: 127 entries, logdatetimetz to af_sum
dtypes: float64(24), int64(95), object(8)
memory usage: 157.3+ MB

In [5]:
cols = [3,4,5,6,7,8,45,51,52,54,93,96,99,102,104,106,108,110,112,114,116,118,120,122,124,126]

In [6]:
events = events[events.columns[cols]]

In [7]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162357 entries, 0 to 162356
Data columns (total 26 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   a                162357 non-null  object
 1   b                162357 non-null  object
 2   c                162357 non-null  object
 3   d                162343 non-null  object
 4   e                162357 non-null  int64
 5   f                162357 non-null  object
 6   doy              162357 non-null  int64
 7   downame          162357 non-null  object
 8   isweekday        162357 non-null  int64
 9   daystillweekend  162357 non-null  int64
 10  ac_doy_sum       162357 non-null  int64
 11  ac_week_sum      162357 non-null  int64
 12  ac_month_sum     162357 non-null  int64
 13  ac_sum           162357 non-null  int64
 14  ad_doy_sum       162357 non-null  int64
 15  ad_week_sum      162357 non-null  int64
 16  ad_month_sum     162357 non-null  int64
 17  ad_sum           162357 non-null  int64
 18  ae_doy_sum       162357 non-null  int64
 19  ae_week_sum      162357 non-null  int64
 20  ae_month_sum     162357 non-null  int64
 21  ae_sum           162357 non-null  int64
 22  af_doy_sum       162357 non-null  int64
 23  af_week_sum      162357 non-null  int64
 24  af_month_sum     162357 non-null  int64
 25  af_sum           162357 non-null  int64
dtypes: int64(20), object(6)
memory usage: 32.2+ MB

In [8]:
events.head()

,a,b,c,d,e,f,doy,downame,isweekday,daystillweekend,...,ad_month_sum,ad_sum,ae_doy_sum,ae_week_sum,ae_month_sum,ae_sum,af_doy_sum,af_week_sum,af_month_sum,af_sum
0,rkrisko,CLTGGV6YT2FASX,104.61.152.212,Cookie,0,success,152,Wed,1,3,...,24,86,1,4,20,76,1,4,20,76
1,cdotter,AST83QLQ13LEAD,104.59.206.32,Cookie,0,success,152,Wed,1,3,...,18,76,1,3,15,65,1,3,15,65
2,rsingh,ASTHV27QQ2LINX,71.78.62.83,Cookie,17,failure,152,Wed,1,3,...,54,122,1,2,13,30,1,2,13,30
3,jkolerich,AST54F54Y2INTR,199.10.253.170,Cookie,17,failure,152,Wed,1,3,...,76,225,1,4,17,47,1,4,17,47
4,kng,SNGFQMM0X2FADM,42.61.31.230,Cookie,0,success,152,Wed,1,3,...,19,70,1,5,11,57,1,5,11,57

In [9]:
# grouped_events = events.groupby('a')

In [10]:
# grouped_events.first()

In [11]:
# grouped_events.get_group('jfolkers')

In [12]:
dfs = [x for _, x in events.groupby('a')]

In [13]:
dfs[0]

,a,b,c,d,e,f,doy,downame,isweekday,daystillweekend,...,ad_month_sum,ad_sum,ae_doy_sum,ae_week_sum,ae_month_sum,ae_sum,af_doy_sum,af_week_sum,af_month_sum,af_sum
11212,aalbright,CLT2TM77D3FADM,4.71.25.98,Cookie,17,failure,159,Wed,1,3,...,1,1,1,1,1,1,1,1,1,1
11213,aalbright,CLT2TM77D3FADM,4.71.25.98,SAML,0,success,159,Wed,1,3,...,1,1,1,1,1,1,1,1,1,1

In [14]:
dfs[721]

,a,b,c,d,e,f,doy,downame,isweekday,daystillweekend,...,ad_month_sum,ad_sum,ae_doy_sum,ae_week_sum,ae_month_sum,ae_sum,af_doy_sum,af_week_sum,af_month_sum,af_sum
1326,jellston,AST5897YT2FASX,199.10.253.171,Cookie,0,success,152,Wed,1,3,...,23,84,1,5,21,82,1,5,21,82
2695,jellston,AST5897YT2FASX,199.10.253.171,Cookie,0,success,153,Thu,1,2,...,23,84,1,5,21,82,1,5,21,82
4456,jellston,AST5897YT2FASX,23.127.74.58,Cookie,0,success,154,Fri,1,1,...,23,84,1,5,21,82,1,5,21,82
5305,jellston,AST5897YT2FASX,23.127.74.58,Cookie,0,success,155,Sat,0,0,...,23,84,1,5,21,82,1,5,21,82
5973,jellston,AST5897YT2FASX,23.127.74.58,Cookie,0,success,156,Sun,0,0,...,23,84,1,5,21,82,1,5,21,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154119,jellston,AST5897YT2FASX,199.10.253.171,Cookie,0,success,251,Thu,1,2,...,7,84,1,4,8,82,1,4,8,82
159492,jellston,AST5897YT2FASX,23.127.74.58,Cookie,17,failure,255,Mon,1,5,...,7,84,1,1,2,13,1,1,2,13
159508,jellston,AST5897YT2FASX,23.127.74.58,SAML,0,success,255,Mon,1,5,...,3,11,1,3,8,82,1,3,8,82
161501,jellston,AST5897YT2FASX,199.10.253.171,Cookie,0,success,256,Tue,1,4,...,7,84,2,3,8,82,2,3,8,82
161539,jellston,AST5897YT2FASX,199.10.253.171,Cookie,0,success,256,Tue,1,4,...,7,84,2,3,8,82,2,3,8,82

In [15]:
dfs[0].info

<bound method DataFrame.info of                a               b           c       d   e        f  doy  \
11212  aalbright  CLT2TM77D3FADM  4.71.25.98  Cookie  17  failure  159
11213  aalbright  CLT2TM77D3FADM  4.71.25.98    SAML   0  success  159

      downame  isweekday  daystillweekend  ...  ad_month_sum  ad_sum  \
11212     Wed          1                3  ...             1       1
11213     Wed          1                3  ...             1       1

       ae_doy_sum  ae_week_sum  ae_month_sum  ae_sum  af_doy_sum  af_week_sum  \
11212           1            1             1       1           1            1
11213           1            1             1       1           1            1

       af_month_sum  af_sum
11212             1       1
11213             1       1

[2 rows x 26 columns]>

In [16]:
from pycaret.arules import *

In [17]:
# Low Memory version

# model = create_model(metric = 'lift', threshold = 5, low_memory = True)

In [18]:
userdf = dfs[721]
userdf['a']

1326      jellston
2695      jellston
4456      jellston
5305      jellston
5973      jellston
            ...
154119    jellston
159492    jellston
159508    jellston
161501    jellston
161539    jellston
Name: a, Length: 95, dtype: object

In [19]:
arules = setup(userdf, transaction_id = 'downame', item_id = 'c')
model_lift = create_model(metric = 'lift', threshold = 5)
if model_lift[:1]['antecedents'].empty:
    userdf['class'] = 0
else:
    userdf['class'] = 1

In [20]:
userdf

,a,b,c,d,e,f,doy,downame,isweekday,daystillweekend,...,ad_sum,ae_doy_sum,ae_week_sum,ae_month_sum,ae_sum,af_doy_sum,af_week_sum,af_month_sum,af_sum,class
1326,jellston,AST5897YT2FASX,199.10.253.171,Cookie,0,success,152,Wed,1,3,...,84,1,5,21,82,1,5,21,82,1
2695,jellston,AST5897YT2FASX,199.10.253.171,Cookie,0,success,153,Thu,1,2,...,84,1,5,21,82,1,5,21,82,1
4456,jellston,AST5897YT2FASX,23.127.74.58,Cookie,0,success,154,Fri,1,1,...,84,1,5,21,82,1,5,21,82,1
5305,jellston,AST5897YT2FASX,23.127.74.58,Cookie,0,success,155,Sat,0,0,...,84,1,5,21,82,1,5,21,82,1
5973,jellston,AST5897YT2FASX,23.127.74.58,Cookie,0,success,156,Sun,0,0,...,84,1,5,21,82,1,5,21,82,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154119,jellston,AST5897YT2FASX,199.10.253.171,Cookie,0,success,251,Thu,1,2,...,84,1,4,8,82,1,4,8,82,1
159492,jellston,AST5897YT2FASX,23.127.74.58,Cookie,17,failure,255,Mon,1,5,...,84,1,1,2,13,1,1,2,13,1
159508,jellston,AST5897YT2FASX,23.127.74.58,SAML,0,success,255,Mon,1,5,...,11,1,3,8,82,1,3,8,82,1
161501,jellston,AST5897YT2FASX,199.10.253.171,Cookie,0,success,256,Tue,1,4,...,84,2,3,8,82,2,3,8,82,1
161539,jellston,AST5897YT2FASX,199.10.253.171,Cookie,0,success,256,Tue,1,4,...,84,2,3,8,82,2,3,8,82,1

In [21]:
dfs[790]

,a,b,c,d,e,f,doy,downame,isweekday,daystillweekend,...,ad_month_sum,ad_sum,ae_doy_sum,ae_week_sum,ae_month_sum,ae_sum,af_doy_sum,af_week_sum,af_month_sum,af_sum
556,jluken,CLTBMCD4M3GCGX,4.71.25.98,Cookie,0,success,152,Wed,1,3,...,17,55,1,2,15,48,1,2,15,48
2027,jluken,CLTBMCD4M3GCGX,4.71.25.98,Cookie,0,success,153,Thu,1,2,...,17,55,1,2,15,48,1,2,15,48
3536,jluken,CLTBMCD4M3GCGX,4.71.25.98,Cookie,17,failure,154,Fri,1,1,...,17,55,1,1,4,13,1,1,4,13
14350,jluken,CLTBMCD4M3GCGX,76.203.139.93,SAML,0,success,161,Fri,1,1,...,2,6,1,3,15,48,1,3,15,48
16370,jluken,CLTBMCD4M3GCGX,4.71.25.98,Cookie,0,success,162,Sat,0,0,...,17,55,1,3,15,48,1,3,15,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146002,jluken,CLTBMCD4M3GCGX,4.71.25.98,Cookie,0,success,245,Fri,1,1,...,5,55,2,3,3,48,2,3,3,48
146323,jluken,CLTBMCD4M3GCGX,76.203.139.93,Cookie,0,success,245,Fri,1,1,...,5,55,2,3,3,48,2,3,3,48
150208,jluken,CLTBMCD4M3GCGX,4.71.25.98,Cookie,17,failure,249,Tue,1,4,...,5,55,1,1,2,13,1,1,2,13
155529,jluken,CLTBMCD4M3GCGX,4.71.25.98,Cookie,0,success,252,Fri,1,1,...,5,55,1,1,3,48,1,1,3,48
159183,jluken,CLTBMCD4M3GCGX,4.71.25.98,Cookie,17,failure,255,Mon,1,5,...,5,55,1,1,2,13,1,1,2,13

In [22]:
len(dfs)

1735

In [23]:
# > 1/2 TB RAM NEEDED WHEN RUN ALL AT ONCE (RCA: JMEYER)

#for userdf in dfs:
#    arules = setup(userdf, transaction_id = 'downame', item_id = 'c')
#    model_lift = create_model(metric = 'lift', threshold = 5)
#    if model_lift[:1]['antecedents'].empty:
#        userdf['class'] = 0
#    else:
#        userdf['class'] = 1

In [24]:
labelpath=str('/data/projects/sec/drop3/data/3.jupyter/label/downame_c/')

In [25]:
b1 = 0
b2 = 9
b3 = 11
b4 = 796
b5 = 798
b6 = 1708
b7 = 1710
b8 = 1735

In [26]:
for i in range(b5,b6):
    userdf = dfs[i]
    arules = setup(userdf, transaction_id = 'downame', item_id = 'c')
    model_lift = create_model(metric = 'lift', threshold = 5)
    if model_lift[:1]['antecedents'].empty:
        userdf['class'] = 0
    else:
        userdf['class'] = 1
    dfs[i].to_csv(labelpath + "armlift" + str(i).zfill(6) + ".csv", sep='\t', encoding='utf-8', index=False)